<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="june.project.book.dao.BookBoardDao">

  <resultMap type="BookBoard" id="BookBoardMap">
    <id column="board_id" property="no"/>
  
    <result column="titl" property="bookTitle"/>
    <result column="auth" property="author"/>
    <result column="pub" property="publisher"/>
    <result column="cate" property="categories"/>
    <result column="pub_dt" property="publishedDate"/>
    <result column="conts" property="content"/>
    <result column="photo" property="photo"/>
    <result column="score" property="score"/>
    <result column="book_st" property="bookStatus"/>
    <result column="cdt" property="date"/>
  </resultMap>

  <sql id="select1">
  select
    board_id,
    titl,
    score,
    cdt,
    book_st
  </sql>

  <insert id="insert" parameterType="BookBoard">
  insert into book_board(titl, auth, pub, cate, pub_dt, conts, photo, score, book_st) 
  values(#{bookTitle}, #{author}, #{publisher}, #{categories}, #{publishedDate}, #{content}, #{photo}, #{score}, #{bookStatus})
  </insert>
  
  <select id="findAll" resultMap="BookBoardMap">
  <include refid="select1"/>
    from book_board
    order by board_id desc
  </select>
  
  <select id="findByNo" resultMap="BookBoardMap" parameterType="int">
    <include refid="select1"/>,
    auth, 
    pub, 
    cate, 
    pub_dt, 
    conts,
    photo
  from book_board
  where board_id=#{no}
  </select>
  
  <update id="update" parameterType="BookBoard">
  update book_board set
    titl=#{bookTitle},
    auth=#{author},
    pub=#{publisher},
    cate=#{categories},
    pub_dt=#{publishedDate},
    conts=#{content},
    photo=#{photo},
    score=#{score},
    book_st=#{bookStatus}
  where board_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
  delete from book_board
  where board_id=#{no}
  </delete>
  
</mapper>