<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="june.project.book.dao.BookmarkDao">
  
   <resultMap type="Bookmark" id="BookmarkMap">
    <id column="bookmark_no"        property="no"/>
    <result column="bookmark_titl"  property="title"/>
    <result column="conts"          property="content"/>
    <result column="photo"          property="photoFilePath"/>
    <result column="bookmark_cdt"   property="date"/>
    <result column="read_book_no"   property="ReadBookNo"/>
    <result column="basket_book_no" property="BasketBookNo"/>
    <result column="member_no"      property="memberNo"/>
  
  <association property="member" javaType="Member" >
    <id column="member_no" property="no"/>
    <result column="name" property="name"/>
    <result column="email" property="email"/>
  </association>
  
  <association property="bookBasket" javaType="BookBasket">
    <id column="basket_book_no"       property="no"/>
    <result column="book_titl"        property="bookTitle"/>
    <result column="author"           property="author"/>
    <result column="pub"              property="publisher"/>
    <result column="isbn"             property="isbn"/>
    <result column="thumbnail"        property="thumbnail"/>
    <result column="expected_score"   property="expectedScore"/>
  </association>
  
  <association property="bookcase"  javaType="Bookcase">
    <id column="read_book_no"         property="no"/>
    <result column="book_titl"        property="bookTitle"/>
    <result column="author"           property="author"/>
    <result column="pub"              property="publisher"/>
    <result column="isbn"             property="isbn"/>
    <result column="thumbnail"        property="thumbnail"/>
    <result column="star_score"       property="starScore"/>
  </association>
  
  </resultMap>
  
  <insert id="insert" parameterType="Bookmark"
   useGeneratedKeys="true" keyColumn="bookmark_no" keyProperty="no">
    insert into bookmark(
      member_no,
      basket_book_no,
      read_book_no,
      bookmark_titl, 
      conts, 
      photo,
      bookmark_cdt
      ) 
    values(
      #{memberNo},
      #{BasketBookNo},
      #{ReadBookNo},
      #{title},
      #{content},
      #{photoFilePath},
      now()
    )
  </insert>
  
  <select id="findAll" resultMap="BookmarkMap" parameterType="map">
    select
      member_no,
      bookmark_titl,
      conts,
      photo,
      DATE_FORMAT(bookmark_cdt, "%Y-%m-%d") as bookmark_cdt
    from 
     bookmark
    where
     member_no=#{memberNo}
    order by
      bookmark_no desc
  </select>
  
  <select id="findByBookcaseNo" resultMap="BookmarkMap" parameterType="int">
    select
      bm.member_no,
      bm.read_book_no,
      bm.bookmark_titl,
      bm.conts,
      bm.photo,
      DATE_FORMAT(bookmark_cdt, "%Y-%m-%d") as bookmark_cdt,
      bc.book_titl,
      bc.author,
      bc.isbn,
      bc.thumbnail,
      bc.star_score
    from 
      bookmark bm
      join bookcase bc on bm.read_book_no=bc.read_book_no
    where 
      bm.bookmark_no=#{no}
  </select>
  
  <select id="findByBookBasketNo" resultMap="BookmarkMap" parameterType="int">
    select
      bm.member_no,
      bm.basket_book_no,
      bm.bookmark_titl,
      bm.conts,
      bm.photo,
      DATE_FORMAT(bookmark_cdt, "%Y-%m-%d") as bookmark_cdt,
      bb.book_titl,
      bb.author,
      bb.isbn,
      bb.thumbnail,
      bb.expected_score
    from 
      bookmark bm
      join bookbasket bb on bm.basket_book_no=bb.basket_book_no
    where 
      bm.bookmark_no=#{no}
  </select>
  
  <update id="update" parameterType="Bookmark">
  update bookmark
  <set>
    <if test="title != null and title != ''">bookmark_titl=#{title},</if>
    <if test="content != null and content != ''">conts=#{content},</if>
    <if test="photoFilePath != null and photoFilePath != ''">photo=#{photoFilePath},</if>
    bookmark_cdt=now()
  </set>
  where bookmark_no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
  delete from bookmark 
  where
   bookmark_no=#{no}
  </delete>
  
  <select id="findByKeyword" resultMap="BookmarkMap" parameterType="map">
    select
      bookmark_titl
      conts
      bookmark_cdt
    from bookmark
  <where>
    <if test="title != null">bookmark_titl like concat('%', #{title}, '%')</if>
    <if test="content != null">conts like concat('%', #{content}, '%')</if>
    <if test="date != null">bookmark_cdt like concat('%', #{date}, '%')</if>
  </where>
  </select>
  </mapper>