<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="june.project.book.dao.BookmarkDao">
  
   <resultMap type="Bookmark" id="BookmarkMap">
    <id column="bookmark_id" property="no"/>
  
    <result column="titl" property="title"/>
    <result column="book_titl" property="bookTitle"/>
    <result column="auth" property="author"/>
    <result column="pub" property="publisher"/>
    <result column="conts" property="content"/>
    <result column="photo" property="photo"/>
    <result column="cdt" property="date"/>
  </resultMap>
  
  <sql id="select1">
    select 
    bookmark_id, 
    titl, 
    book_titl, 
    auth, 
    cdt 
  </sql>
  
  <insert id="insert" parameterType="Bookmark">
  insert into bookmark(titl, book_titl, auth, pub, conts, photo) 
  values(#{title},#{bookTitle},#{author},#{publisher},#{content},#{photo})
  </insert>
  
  <select id="findAll" resultMap="BookmarkMap" parameterType="map">
  <include refid="select1"/>
     from bookmark
  </select>
  
  <select id="findByNo" resultMap="BookmarkMap" parameterType="int">
   <include refid="select1"/>,
    pub, 
    conts, 
    photo
  from bookmark
  where bookmark_id=#{no}
  </select>
  
  <update id="update" parameterType="Bookmark">
  update bookmark
  <set>
    <if test="title != null and title != ''">titl=#{title},</if>
    <if test="bookTitle != null and bookTitle != ''">book_titl=#{bookTitle},</if>
    <if test="author != null and author != ''">auth=#{author},</if>
    <if test="publisher != null and publisher != ''">pub=#{publisher},</if> 
    <if test="content != null and content != ''">conts=#{content},</if>
    <if test="photo != null and photo != ''">photo=#{photo}</if>
  </set>
  where bookmark_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
  delete from bookmark where bookmark_id=#{no}
  </delete>
  
    <select id="findByKeyword" resultMap="BookmarkMap" parameterType="map">
  <include refid="select1"/>
  from bookmark
  <where>
    <if test="title != null">titl like concat('%', #{title}, '%')</if>
    <if test="bookTitle != null">book_titl like concat('%', #{bookTitle}, '%')</if>
    <if test="author != null">auth like concat('%', #{author}, '%')</if>
    <if test="date != null">cdt like concat('%', #{date}, '%')</if>
  </where>
  </select>
  
  </mapper>