@charset "UTF-8";

body {
    background-color: #ffebcd;
}

div.container {
  background-color: white;
  width: 1000px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: navy;
  color: white;
  text-align: center;
}